html,body{
    margin: 0;
    padding: 0;


}

/***************LINKS********************/
a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

/*******************Lists****************/
ul{
    list-style: none;
}
ul li{

    display: inline-block;
    padding: 10px;
    padding-right: 60px;


}

/*******************ID styles********************/
#banner {
    width: 100%;
    /*height: auto;*/
    background: url(/assets/backgrounds/hero.jpg);
    background-size: cover;
    /*background-attachment: fixed;*/
}
#store {
    /*padding: 4%;*/

}
#about {
    background-image: url(/assets/backgrounds/about.jpg);
    background-size: cover;
}
#foot {

}
/*********************CLASSES*********************/
.yolo {
	padding: 2%;
}

.htxt {
    text-align: center;
    color: #fff;
    margin-top: 200px;
}
.htxt h1 {
    font-size: 6em;
    font-weight: 400;

}
.htxt p{
	font-size: 3em;
    font-weight: 100;
}
.htxt.tag {
	margin-top: 10%;
}
/**********************arrow**************************/

.arrow-down img{
    margin: 0;
    padding: 0;
    margin-top: 40%;
    margin-left: 50%;
    margin-bottom: 10%;

}
/***********************Store************************/
.hd {
    padding: 2% 0;
    width: 100%;
	background-color: lightgray;
}
.labels label{
    margin: 0 1%;
	display: inline-block;
}
.btn {
    text-align: center;
    height: 30px;
    width: ; 600px;
    color: #fff;
    background-color: maroon;
	float: right;
    padding-right: 10%;
}
.men-women h6{
    padding: 2% 5%;

}
.counter {
    margin-right: 3%;
	float: right;
    clear: both;
}
/*****************Store card***********/

.circle {
    display: inline-block;
	height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: green;
}
.circle.blue {
	background-color: blue;
}
.circle.grey {
	background-color: gray;
} {

}

}
