html,body{
    margin: 0;
    padding: 0;
    line-height: ;

}
/***************LINKS********************/
a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

/*******************Lists****************/
ul{
    list-style: none;
}
ul li{
    float: right;
    display: inline-block;
    padding: 10px;
    padding-right: 60px;


}

/*******************ID styles********************/
#banner {
    background-image: url(/assets/backgrounds/hero.jpg);
    background-size: cover;

}
#store {
    padding: 4%;

}
#about {
    background-image: url(/assets/backgrounds/about.jpg);
    background-size: cover;
}
#foot {

}
/*********************CLASSES*********************/
.yolo {
	margin: 5%;
}
.img{
    position: absolute;
    margin: 0;
    padding: 0;
    right: 10px;
    top: 10px;
    float: right;
}
.htxt {
    text-align: center;
    color: #fff;
	margin-top: 36%;
}
.htxt.tag {
	margin-top: 10%;
}
.arrow-down {
	margin: 0;
    padding: 0;
    padding-left: 50%;
    margin-top: 40%;
    margin-bottom: 10%;
}
/***********************Store************************/
.labels label{
    margin: 0 1%;
	display: inline-block;
}
.btn {
    text-align: center;
    height: 30px;
    width: ; 600px;
    color: #fff;
    background-color: maroon;
	float: right;
    padding-right: 10%;
}

