html,body{
    margin: 0;
    padding: 0;
    line-height: ;

}

/*******************ID styles********************/
#banner {

}
#store {

}
#about {

}
#foot {

}
/*********************CLASSES*********************/
